<h1>Assistant Platform</h1>
<p>This platform created by Faraz for SDP project, to understand Ruby on Rails.</p>
<p>This app launched for students especiially Math students 
    to give comments for thier previous courses which they took, and add their course materials there to help freshman study better.</p>